<phpunit bootstrap="vendor/autoload.php" colors="true">
    <php>
        <env name="DB_DRIVER" value="sqlite"/>
        <env name="DB_NAME" value="database.sqlite"/>
    </php>
    <testsuites>
        <testsuite name="SlimSkeleton">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>